<%- include('../partials/header.ejs')%>

<main>
    <div class="form-container">
        <form class="form-group" method = "POST" action = "/offers">
                <label>Offer</label>
                <input name="Offer" id="Offer" type="text"  required>
                <input class="form-submit" type="submit">
        </form>
    </div>
</main>

<%- include('../partials/footer.ejs')%>