
    <%- include('../partials/header.ejs')%>
    <main class="matches-main">
        <h2 class="title">Game Matches</h2>
        <div class="matches">
            <ul>
                <li class="match">
                    <p class="game-type"></p>
                    <p class="game-time"></p>
                    <p class="players"></p>
                </li>
            </ul>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>