<%- include('../partials/header.ejs')%>
<main class="match-game-main">
    <div class="game-info">
    <form action="/matches" method="POST" class="new-form"  >
        <label for="sport">Name of the sport</label>
        <input name="sport" id="sport" type="text"  required>
        <br>
        <label for="home">Host</label>
        <input name="home" id="home" type="home"  required>
        <br>
        <label for="away">Challenger</label>
        <input name="away" id="away" type="text"  required>
        <br>
        <label for="location">location of the game</label>
        <textarea name="location" id="location" required></textarea>
        <br>
        <input type="submit" value="Submit">
      
    </form>
</div>
</main>
<%- include('../partials/footer.ejs')%>