<form class="sign-up" method="POST">

    <div>
        <label>username:</label>
        <input name="username" type="text" required>
    </div>

    <div>
        <label>password:</label>
        <input name="password" type="text" required>
    </div>

    <input type="submit">



</form>