
    <%- include('../partials/header.ejs')%>
    <main class="error-page">
        <h1>ERROR</h1>
        <p>[Insert error type and description here.] Please go back to the home page.</p>
    </main>
    <%- include('../partials/footer.ejs')%>