
    <%- include('./partials/header.ejs')%>
    <div class="hero-section">
        <div class="half left">
            <img src="/images/books.png" alt="swap items">
        </div>
        <div class="half right">
            <img src="/images/games.png" alt="match games">
        </div>
        <div class="banner">
            <h1>HELLO NINERMEET</h1>
            <p>Better days are coming. Join NinerMeet to swap items & match games</p>
            <div class="buttons">
                <% if (user) { %>
                    <a href="/swaps" class="btn swap-items">Swap Items</a>
                    <a href="/matches" class="btn match-games">Match Games</a>
                <% } else {%>
                    <a href="/register" class="btn swap-items">Register</a>
                    <a href="/login" class="btn match-games">Login</a>
                <%} %>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>
