<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinerMeet</title>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h2>Welcome to our page</h2>
        <p>Test, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sunt ut, sint quos numquam vel assumenda odio incidunt tenetur laboriosam labore quam sed expedita alias! Assumenda distinctio voluptatibus tempore obcaecati.</p>
    </main>
    <%- include('./partials/footer.ejs')%>
    </body>
</html>